*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav
{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 5px solid black;
	
}
 
footer{
	padding: 0.7rem;
}

button{
	width: 150px;
	margin-bottom: 1rem;
}

/*id*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #FF0000;
	color: #FFFFFF;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;

}
/*class*/
.box-item{
	
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	
}

#pre-footer{
	padding: 1rem;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

/*combinators*/
nav > ul{
	list-style-type: none;
}



/*multiple*/
nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
	

}
.nav-logo img
{
	height: 30vh;
	width: 30vh;
	border-radius: 150px;
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}
#succeed-info button{
	color:white;
	font-weight: bold;
	background-color: #808080;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	/*margin-left: 50rem;*/


}




#succeed-info h2{
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 2px solid red;

}

#pre-footer > div{
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

#pre-footer > div > *{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

footer span{
	margin-left:0.5 rem;
	margin-right: 0.5rem;
}
